@model Wagon

<h1>Add a passenger to @Model.Name</h1>

<form method="post" action="/wagons/@Model.Id/passengers">

    <label for="Name">Name</label>
    <input type="text" name="Name" id="Name"/>

    <label for="Age">Age</label>
    <input type="number" name="Age" id="Age" />

    <label for="Destination">Destination</label>
    <input type="text" name="Destination" id="Destination" />


    <button type="submit">Add Passenger</button>
</form>