@model List<Wagon>

<h1>All Wagons</h1>

@foreach(var e in Model)
{
    <h6><a href="/wagons/@e.Id">@e.Name</a> Current Passengers: @e.Passengers.Count()</h6>
    <div style="display: flex;">
    <p>This wagon has @e.NumWheels wheels and is 
        @if(e.Covered == true)
            {
                <p> covered.</p>
            }
            else
            {
                <p> not covered.</p>
            }
    </p>
    </div>
}